# Análise dos microdados do Enem 2021

In [ ]:
# Importando bibliotecas

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [43]:
import seaborn as sn

## 1. Leitura do arquivo "MICRODADOS_ENEM_2021.csv" para um dataframe
Vamos carregar o arquivo dos microdados e fazer uma exploração inicial do dataframe

In [4]:
# A biblioteca Pandas, por padrão, lê o encoding como utf-8, no entanto, quando não reconhece algum caracter ele retorna um erro.
# Pesquisando, podemos achar alguns encodings que podem nos servir, no caso, ISO-8859-1. Outro encoding que poderia ser usado: latin1

In [5]:
microdados_enem = pd.read_csv('Dados/MICRODADOS_ENEM_2021.csv', encoding= 'ISO-8859-1', sep = ';')

In [6]:
microdados_enem.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B

In [7]:
microdados_enem.tail()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
3389827,210053249138,2021,7,F,1,3,1,1,0,1,...,A,A,A,B,A,A,B,A,A,B
3389828,210053776013,2021,7,F,1,1,1,1,5,1,...,B,A,B,C,A,A,E,B,B,B
3389829,210052441508,2021,13,F,1,3,1,1,15,1,...,B,A,A,A,A,A,B,A,B,B
3389830,210051139675,2021,7,F,1,1,1,1,4,1,...,B,A,B,B,A,B,E,A,C,B
3389831,210052410399,2021,12,F,2,3,1,1,15,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
len(microdados_enem.NU_INSCRICAO)

3389832

In [9]:
microdados_enem.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'], dtype=object)

In [10]:
microdados_enem.dtypes

NU_INSCRICAO        int64
NU_ANO              int64
TP_FAIXA_ETARIA     int64
TP_SEXO            object
TP_ESTADO_CIVIL     int64
                    ...
Q021               object
Q022               object
Q023               object
Q024               object
Q025               object
Length: 76, dtype: object

In [11]:
microdados_enem.describe()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005
count,3.389832e+06,3389832.0,3.389832e+06,3.389832e+06,3.389832e+06,3.389832e+06,3.389832e+06,3.389832e+06,3.389832e+06,1.096828e+06,...,2.245844e+06,3.389832e+06,2.378379e+06,2.378379e+06,2.378379e+06,2.378379e+06,2.378379e+06,2.378379e+06,2.378379e+06,3.389830e+06
mean,2.100527e+11,2021.0,5.306013e+00,1.052073e+00,2.043491e+00,1.027106e+00,1.608430e+00,2.581980e+00,1.396214e+00,1.006295e+00,...,5.350802e+02,4.704640e-01,1.140684e+00,1.192657e+02,1.380269e+02,1.153117e+02,1.281853e+02,1.127109e+02,6.135005e+02,3.739557e+00
std,9.962403e+05,0.0,3.902871e+00,4.129414e-01,1.022561e+00,2.049293e-01,7.198306e-01,4.278731e+00,5.938455e-01,7.909361e-02,...,1.106267e+02,4.991269e-01,7.910804e-01,3.391962e+01,4.563224e+01,3.634138e+01,3.883252e+01,6.005667e+01,1.907142e+02,1.378942e+00
min,2.100510e+11,2021.0,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,2.100519e+11,2021.0,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,...,4.447000e+02,0.000000e+00,1.000000e+00,1.000000e+02,1.200000e+02,1.000000e+02,1.200000e+02,8.000000e+01,5.200000e+02,3.000000e+00
50%,2.100527e+11,2021.0,4.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,...,5.154000e+02,0.000000e+00,1.000000e+00,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,6.000000e+02,4.000000e+00
75%,2.100536e+11,2021.0,7.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,1.000000e+00,...,6.139000e+02,1.000000e+00,1.000000e+00,1.400000e+02,1.800000e+02,1.400000e+02,1.600000e+02,1.600000e+02,7.400000e+02,4.000000e+00
max,2.100545e+11,2021.0,2.000000e+01,4.000000e+00,6.000000e+00,4.000000e+00,4.000000e+00,1.500000e+01,3.000000e+00,2.000000e+00,...,9.531000e+02,1.000000e+00,9.000000e+00,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,1.000000e+03,2.000000e+01

## Criando um novo dataframe limpo e com menos colunas
Observando o dicionário de dados, selecionaremos algumas colunas que poderiam revelar possíveis correlações
com as notas dos candidatos. Além disso, criaremos uma nova coluna com a média das notas das áreas e da redação, excluindo
os valores Nan, que provavelmente representam aqueles candidatos que faltaram a uma ou mais provas

In [12]:
colunas_selecionadas = ['TP_COR_RACA', 'TP_ESCOLA', 'TP_ENSINO',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q021', 'Q024', 'Q025']

In [13]:
microdados_selecionados = microdados_enem.filter(items=colunas_selecionadas)

In [14]:
microdados_selecionados.head()

,TP_COR_RACA,TP_ESCOLA,TP_ENSINO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,...,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q021,Q024,Q025
0,1,1,NaN,0,1,1,0,NaN,574.6,472.6,...,A,B,A,A,A,A,B,A,B,B
1,1,1,NaN,1,1,1,1,505.9,551.8,498.3,...,A,A,A,A,A,A,B,A,A,A
2,1,1,NaN,0,0,0,0,NaN,NaN,NaN,...,B,A,A,B,A,A,B,A,B,B
3,3,2,1.0,1,1,1,1,580.7,678.9,638.9,...,A,A,A,A,A,A,B,A,B,B
4,3,2,1.0,1,1,1,1,497.7,532.4,457.6,...,A,B,A,B,A,A,B,B,B,B

In [15]:
microdados_selecionados.isnull()

,TP_COR_RACA,TP_ESCOLA,TP_ENSINO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,...,Q013,Q014,Q015,Q016,Q017,Q018,Q019,Q021,Q024,Q025
0,False,False,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3389827,False,False,True,False,False,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3389828,False,False,True,False,False,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3389829,False,False,True,False,False,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3389830,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3389831,False,False,True,False,False,False,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [16]:
# criando uma coluna com a média das notas

In [17]:
microdados_selecionados['MEDIA'] = (microdados_selecionados['NU_NOTA_CN'] + microdados_selecionados['NU_NOTA_CH'] 
+ microdados_selecionados['NU_NOTA_MT'] + microdados_selecionados['NU_NOTA_REDACAO'])/5

In [27]:
microdados_selecionados.head()

,TP_COR_RACA,TP_ESCOLA,TP_ENSINO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,...,Q014,Q015,Q016,Q017,Q018,Q019,Q021,Q024,Q025,MEDIA
0,1,1,NaN,0,1,1,0,NaN,574.6,472.6,...,B,A,A,A,A,B,A,B,B,NaN
1,1,1,NaN,1,1,1,1,505.9,551.8,498.3,...,A,A,A,A,A,B,A,A,A,415.84
2,1,1,NaN,0,0,0,0,NaN,NaN,NaN,...,A,A,B,A,A,B,A,B,B,NaN
3,3,2,1.0,1,1,1,1,580.7,678.9,638.9,...,A,A,A,A,A,B,A,B,B,539.82
4,3,2,1.0,1,1,1,1,497.7,532.4,457.6,...,B,A,B,A,A,B,B,B,B,478.54

In [36]:
microdados_selecionados['MEDIA'] = microdados_selecionados['MEDIA'].fillna(0)

In [37]:
microdados_selecionados.head()

,TP_COR_RACA,TP_ESCOLA,TP_ENSINO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,...,Q014,Q015,Q016,Q017,Q018,Q019,Q021,Q024,Q025,MEDIA
0,1,1,NaN,0,1,1,0,NaN,574.6,472.6,...,B,A,A,A,A,B,A,B,B,0.00
1,1,1,NaN,1,1,1,1,505.9,551.8,498.3,...,A,A,A,A,A,B,A,A,A,415.84
2,1,1,NaN,0,0,0,0,NaN,NaN,NaN,...,A,A,B,A,A,B,A,B,B,0.00
3,3,2,1.0,1,1,1,1,580.7,678.9,638.9,...,A,A,A,A,A,B,A,B,B,539.82
4,3,2,1.0,1,1,1,1,497.7,532.4,457.6,...,B,A,B,A,A,B,B,B,B,478.54

In [ ]:
# Limpando NaN da coluna MEDIA

In [38]:
filtro = microdados_selecionados['MEDIA'] > 0

In [40]:
microdados_limpos = microdados_selecionados[filtro]

In [41]:
microdados_limpos.head()

,TP_COR_RACA,TP_ESCOLA,TP_ENSINO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,...,Q014,Q015,Q016,Q017,Q018,Q019,Q021,Q024,Q025,MEDIA
1,1,1,NaN,1,1,1,1,505.9,551.8,498.3,...,A,A,A,A,A,B,A,A,A,415.84
3,3,2,1.0,1,1,1,1,580.7,678.9,638.9,...,A,A,A,A,A,B,A,B,B,539.82
4,3,2,1.0,1,1,1,1,497.7,532.4,457.6,...,B,A,B,A,A,B,B,B,B,478.54
8,3,2,NaN,1,1,1,1,487.4,476.5,450.7,...,A,A,B,A,A,B,A,A,B,395.46
9,3,2,1.0,1,1,1,1,507.6,539.2,494.6,...,C,A,B,A,B,C,A,A,B,368.02

In [42]:
len(microdados_limpos)

2238091

In [48]:
correlacao = microdados_limpos.corr()

In [49]:
correlacao

,TP_COR_RACA,TP_ESCOLA,TP_ENSINO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,MEDIA
TP_COR_RACA,1.000000,-0.069136,0.015449,NaN,NaN,NaN,NaN,-0.189785,-0.184074,-0.210394,-0.204929,-0.138245,-0.210648
TP_ESCOLA,-0.069136,1.000000,-0.024739,NaN,NaN,NaN,NaN,0.016482,-0.004557,0.015223,0.053154,0.051346,0.042317
TP_ENSINO,0.015449,-0.024739,1.000000,NaN,NaN,NaN,NaN,-0.029070,-0.029058,-0.034931,-0.029650,-0.031962,-0.037019
TP_PRESENCA_CN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TP_PRESENCA_CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TP_PRESENCA_LC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TP_PRESENCA_MT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NU_NOTA_CN,-0.189785,0.016482,-0.029070,NaN,NaN,NaN,NaN,1.000000,0.673093,0.661370,0.669629,0.467229,0.793157
NU_NOTA_CH,-0.184074,-0.004557,-0.029058,NaN,NaN,NaN,NaN,0.673093,1.000000,0.751757,0.623385,0.481005,0.798274
NU_NOTA_LC,-0.210394,0.015223,-0.034931,NaN,NaN,NaN,NaN,0.661370,0.751757,1.000000,0.627876,0.506918,0.748420
NU_NOTA_MT,-0.204929,0.053154,-0.029650,NaN,NaN,NaN,NaN,0.669629,0.623385,0.627876,1.000000,0.485764,0.815741
NU_NOTA_REDACAO,-0.138245,0.051346,-0.031962,NaN,NaN,NaN,NaN,0.467229,0.481005,0.506918,0.485764,1.000000,0.836647
MEDIA,-0.210648,0.042317,-0.037019,NaN,NaN,NaN,NaN,0.793157,0.798274,0.748420,0.815741,0.836647,1.000000